In [62]:
import itertools
import json
import math
import os
import random
import re
import sys
from collections import Counter
from datetime import datetime

import matplotlib.pyplot as plt
import networkx as nx
import numpy as np
import pandas as pd
import utils
from tqdm import tqdm

plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

8. 试卷信息表-testpaper

---

In [63]:
testpaper = pd.read_csv('./data/testpaper.csv')

In [64]:
testpaper = testpaper[(testpaper['type'] == 'testpaper') & (testpaper['status'] != 'draft') ]

9. 试卷结果表-testpaper_result

---

In [65]:
testpaper_result = pd.read_csv('./data/testpaper_result.csv')

C:\Users\Tanphoon\AppData\Local\Temp\ipykernel_22108\4110415055.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  testpaper_result = pd.read_csv('./data/testpaper_result.csv')

In [66]:
testpaper_result = testpaper_result[testpaper_result['type'] == 'testpaper']
testpaper_result = testpaper_result[['userId', 'paperName', 'courseId', 'score']]

融合表8和表9

In [67]:
# 求交集
cap = set(testpaper_result['courseId'].unique()) & set(testpaper['courseId'].unique())
# 表8数据
total_score0 =  testpaper[testpaper['courseId'].isin(cap)][["courseId", "name", "score"]].set_index(["courseId", "name"]) 
# 表9数据
total_score1 = testpaper_result.groupby(['courseId','paperName' ])['score'].max()
# 合并
for idx, score in total_score0.itertuples():
    if idx in total_score1:
        total_score1[idx] = score

In [68]:
user_data = testpaper_result.groupby(['userId', 'courseId', 'paperName']).max()
user_data

                                        score
userId courseId paperName
3      2        试卷2                       2.0
       14       《Hadoop大数据基础与应用》期中考试试卷    0.0
       96       课程题目模板V1.2（上传）            0.0
       263      提交项目成果                    0.0
       338      《Hadoop大数据基础与应用》期中考试试卷    0.0
...                                       ...
174581 11109    人工智能（高级）正式卷               0.0
174582 11109    人工智能（高级）正式卷               0.0
174583 11109    人工智能（高级）正式卷               0.0
174584 11109    人工智能（高级）正式卷               0.0
174585 11109    人工智能（高级）正式卷               0.0

[145789 rows x 1 columns]

In [69]:
def get_max_score(row):
    idx = (row.name[1], row.name[2])
    return total_score1[idx] if total_score1[idx] != 0 else 1
user_data['rating'] = user_data.apply(lambda x:int(x['score'] / get_max_score(x) * 10), axis=1)

In [70]:
user_data['total_score'] =  user_data.apply(lambda x:int(get_max_score(x)), axis=1)

In [71]:
user_data['pass_rate'] = user_data['score'] / user_data['total_score'] * 100

In [72]:
user_data = user_data.reset_index()

In [74]:
user_data.pop('paperName')

0                           试卷2
1        《Hadoop大数据基础与应用》期中考试试卷
2                课程题目模板V1.2（上传）
3                        提交项目成果
4        《Hadoop大数据基础与应用》期中考试试卷
                  ...
47369               人工智能（高级）正式卷
47370               人工智能（高级）正式卷
47371               人工智能（高级）正式卷
47372               人工智能（高级）正式卷
47373               人工智能（高级）正式卷
Name: paperName, Length: 47374, dtype: object

In [75]:
user_data = user_data.groupby(["userId", "courseId"]).max().reset_index()

In [76]:
user_data

       userId  courseId  score  rating  total_score  pass_rate
0           3         2    2.0      10            2      100.0
1           3        14    0.0       0           14        0.0
2           3        96    0.0       0            1        0.0
3           3       263    0.0       0            1        0.0
4           3       338    0.0       0            1        0.0
...       ...       ...    ...     ...          ...        ...
47369  174581     11109    0.0       0           99        0.0
47370  174582     11109    0.0       0           99        0.0
47371  174583     11109    0.0       0           99        0.0
47372  174584     11109    0.0       0           99        0.0
47373  174585     11109    0.0       0           99        0.0

[47374 rows x 6 columns]

In [77]:
total_score = user_data.groupby('courseId')['total_score'].max()

In [78]:
total_score

courseId
2         2
14       14
96        1
263       1
284      18
         ..
12774    94
12775    90
12776    32
12777     1
12778    95
Name: total_score, Length: 1415, dtype: int64

In [79]:
user_data

       userId  courseId  score  rating  total_score  pass_rate
0           3         2    2.0      10            2      100.0
1           3        14    0.0       0           14        0.0
2           3        96    0.0       0            1        0.0
3           3       263    0.0       0            1        0.0
4           3       338    0.0       0            1        0.0
...       ...       ...    ...     ...          ...        ...
47369  174581     11109    0.0       0           99        0.0
47370  174582     11109    0.0       0           99        0.0
47371  174583     11109    0.0       0           99        0.0
47372  174584     11109    0.0       0           99        0.0
47373  174585     11109    0.0       0           99        0.0

[47374 rows x 6 columns]

In [80]:
course_score = user_data.groupby('courseId').apply(lambda x: x.set_index('userId')['score'].to_dict()).to_dict()

In [81]:
course_pass_rate =  user_data.groupby('courseId')['score'].mean() / total_score * 100

In [83]:
course_pass_rate.drop(10844).sort_values(ascending=False).to_dict()

{2: 100.0,
 1267: 100.0,
 1933: 100.0,
 1914: 100.0,
 11305: 100.0,
 11334: 100.0,
 8088: 100.0,
 1899: 100.0,
 8087: 100.0,
 1822: 100.0,
 1224: 100.0,
 1819: 100.0,
 8077: 100.0,
 3218: 100.0,
 1750: 100.0,
 2853: 100.0,
 11525: 100.0,
 1725: 100.0,
 2887: 100.0,
 1696: 100.0,
 2073: 100.0,
 1625: 100.0,
 1596: 100.0,
 1553: 100.0,
 2524: 100.0,
 8876: 100.0,
 2209: 100.0,
 11137: 100.0,
 2090: 100.0,
 1084: 100.0,
 1081: 100.0,
 2094: 100.0,
 2095: 100.0,
 2100: 100.0,
 2101: 100.0,
 2108: 100.0,
 2110: 100.0,
 2111: 100.0,
 2112: 100.0,
 2114: 100.0,
 1068: 100.0,
 2118: 100.0,
 2133: 100.0,
 1968: 100.0,
 9015: 100.0,
 2173: 100.0,
 2181: 100.0,
 2187: 100.0,
 10971: 100.0,
 3215: 100.0,
 2072: 100.0,
 4866: 100.0,
 1291: 100.0,
 6159: 100.0,
 5718: 100.0,
 4808: 100.0,
 12097: 100.0,
 3724: 100.0,
 4863: 100.0,
 12030: 100.0,
 4851: 100.0,
 3784: 100.0,
 10609: 100.0,
 1297: 100.0,
 1296: 100.0,
 6491: 100.0,
 5724: 100.0,
 5809: 100.0,
 1491: 100.0,
 447: 100.0,
 7117: 100.0,
 10611: 100.0,
 1257: 100.0,
 1265: 100.0,
 5322: 100.0,
 284: 100.0,
 5640: 100.0,
 12370: 100.0,
 4830: 100.0,
 3453: 100.0,
 1495: 100.0,
 5711: 100.0,
 1262: 100.0,
 7904: 99.8901098901099,
 2200: 99.8,
 8086: 99.71014492753622,
 2199: 99.53020134228187,
 8120: 99.35064935064935,
 2198: 99.13333333333334,
 794: 99.06976744186046,
 2937: 99.04109589041094,
 875: 99.02439024390245,
 3063: 98.953125,
 12288: 98.85714285714286,
 2634: 98.81578947368422,
 3236: 98.8,
 763: 98.7878787878788,
 806: 98.77049180327869,
 3200: 98.75,
 3034: 98.5909090909091,
 3009: 98.57239057239057,
 2549: 98.57142857142858,
 8412: 98.5,
 3598: 98.46153846153847,
 1256: 98.41269841269842,
 5642: 98.37837837837839,
 3109: 98.33333333333334,
 3115: 98.33333333333334,
 6042: 98.31460674157304,
 4957: 98.26086956521738,
 3141: 98.24489795918367,
 756: 98.2,
 2635: 98.19444444444444,
 5273: 98.18181818181819,
 4267: 98.18181818181819,
 4825: 98.10000000000001,
 2942: 98.0952380952381,
 3118: 98.07692307692308,
 800: 98.01587301587303,
 850: 98.00000000000001,
 2742: 97.96875,
 857: 97.96610169491527,
 3138: 97.94594594594595,
 3286: 97.8,
 3036: 97.76923076923077,
 2160: 97.68115942028986,
 1233: 97.64705882352942,
 7067: 97.6470588235294,
 2636: 97.61904761904762,
 796: 97.6086956521739,
 2832: 97.57142857142857,
 2576: 97.52808988764045,
 1908: 97.5,
 4952: 97.3913043478261,
 3060: 97.38297872340425,
 3753: 97.36842105263158,
 2062: 97.25806451612904,
 2276: 97.24999999999999,
 2755: 97.10526315789474,
 2864: 97.05882352941177,
 4842: 97.04545454545455,
 5641: 97.02702702702703,
 8119: 97.01298701298701,
 2741: 96.96969696969697,
 2530: 96.8831168831169,
 6467: 96.875,
 3078: 96.875,
 4883: 96.85393258426967,
 3108: 96.84210526315789,
 7903: 96.8131868131868,
 4845: 96.77777777777777,
 3560: 96.77777777777777,
 5288: 96.69014084507042,
 2672: 96.66666666666667,
 751: 96.66666666666667,
 3578: 96.66666666666667,
 406: 96.66666666666667,
 2642: 96.66666666666666,
 2852: 96.66666666666666,
 2854: 96.66666666666666,
 1273: 96.66666666666666,
 2996: 96.6,
 3035: 96.44444444444444,
 8990: 96.43939393939394,
 11814: 96.41666666666667,
 3810: 96.3917525773196,
 2529: 96.3157894736842,
 858: 96.30573248407643,
 2092: 96.29629629629629,
 2074: 96.29629629629629,
 2065: 96.26865671641791,
 1635: 96.25,
 2738: 96.21212121212122,
 9572: 96.20967741935485,
 2595: 96.19047619047619,
 2138: 96.15384615384615,
 11880: 96.09375,
 5290: 96.09022556390977,
 3683: 96.07843137254902,
 1072: 96.07843137254902,
 2858: 96.0,
 5443: 96.0,
 1173: 96.0,
 2754: 95.92105263157895,
 3606: 95.91549295774648,
 3244: 95.90909090909092,
 2213: 95.88235294117646,
 2833: 95.84210526315789,
 2924: 95.8157894736842,
 8121: 95.8108108108108,
 3137: 95.76271186440678,
 3846: 95.75757575757576,
 2586: 95.71428571428571,
 6443: 95.71428571428571,
 6771: 95.68,
 5971: 95.58823529411765,
 445: 95.56962025316456,
 1759: 95.55555555555556,
 2171: 95.55555555555554,
 4207: 95.54054054054055,
 3823: 95.51246537396123,
 3199: 95.41666666666666,
 902: 95.34883720930232,
 2632: 95.29729729729729,
 2575: 95.28089887640449,
 4437: 95.26515151515152,
 6860: 95.23809523809524,
 759: 95.20547945205479,
 4950: 95.19999999999999,
 3585: 95.15463917525773,
 8994: 95.03367003367002,
 1765: 95.0,
 5116: 95.0,
 1238: 95.0,
 1871: 95.0,
 2713: 94.91803278688525,
 9773: 94.83333333333333,
 5289: 94.81751824817518,
 3002: 94.76190476190476,
 1274: 94.73684210526315,
 12171: 94.73684210526315,
 3748: 94.6395061728395,
 9196: 94.62087912087912,
 9019: 94.5821854912764,
 860: 94.54545454545456,
 3245: 94.5,
 801: 94.47368421052632,
 3909: 94.44444444444444,
 2671: 94.44444444444444,
 2070: 94.44444444444444,
 12338: 94.44444444444444,
 2165: 94.44444444444444,
 1236: 94.44444444444444,
 1683: 94.44444444444444,
 2647: 94.41176470588235,
 3891: 94.32467532467533,
 2764: 94.3103448275862,
 1993: 94.28571428571429,
 1284: 94.28571428571428,
 7907: 94.28571428571428,
 2915: 94.2854511970534,
 3601: 94.26666666666665,
 2940: 94.22222222222223,
 10845: 94.20289855072464,
 829: 94.18604651162792,
 11379: 94.18604651162791,
 7330: 94.16666666666667,
 2208: 94.11764705882352,
 679: 94.09090909090908,
 3062: 93.97457627118644,
 2207: 93.93939393939394,
 7839: 93.8880706921944,
 1646: 93.84615384615384,
 810: 93.82352941176471,
 10061: 93.79069767441861,
 2063: 93.78787878787878,
 2625: 93.76896551724138,
 1805: 93.75,
 1645: 93.75,
 7787: 93.75,
 5482: 93.73840445269016,
 2594: 93.7037037037037,
 446: 93.67469879518072,
 3059: 93.62,
 803: 93.6046511627907,
 2763: 93.5820895522388,
 856: 93.54285714285714,
 3112: 93.51351351351352,
 8078: 93.47763347763347,
 2765: 93.46153846153847,
 8050: 93.39285714285714,
 2587: 93.33333333333333,
 1255: 93.33333333333333,
 1290: 93.33333333333333,
 2166: 93.33333333333333,
 1227: 93.33333333333333,
 830: 93.33333333333333,
 1264: 93.33333333333333,
 10486: 93.33333333333333,
 2038: 93.33333333333333,
 11947: 93.28125,
 5616: 93.19148936170214,
 4241: 93.18840579710145,
 5621: 93.18181818181819,
 3214: 93.16239316239316,
 3247: 93.15789473684211,
 4084: 93.09022556390977,
 2172: 93.0,
 1303: 92.98245614035088,
 2057: 92.85714285714286,
 2102: 92.85714285714286,
 2769: 92.82608695652173,
 3603: 92.82608695652173,
 1047: 92.8125,
 8866: 92.76190476190476,
 2916: 92.70833333333334,
 1498: 92.6923076923077,
 9748: 92.64264264264264,
 774: 92.63888888888889,
 6861: 92.61363636363636,
 10874: 92.53968253968253,
 1278: 92.5,
 9870: 92.47813411078718,
 9312: 92.33333333333333,
 4281: 92.32,
 3867: 92.29545454545455,
 11030: 92.25,
 4174: 92.22714285714285,
 1898: 92.22222222222221,
 4138: 92.20224719101124,
 876: 92.1951219512195,
 2312: 92.15686274509804,
 3866: 92.12361712361712,
 802: 92.09677419354838,
 2274: 92.08333333333334,
 3432: 92.06349206349206,
 2077: 92.0,
 2863: 92.0,
 1059: 92.0,
 3001: 92.0,
 10678: 91.97802197802197,
 752: 91.89873417721518,
 3072: 91.875,
 5656: 91.83333333333333,
 8743: 91.82181874134483,
 1272: 91.81818181818183,
 2707: 91.7910447761194,
 1269: 91.73913043478261,
 770: 91.66666666666666,
 777: 91.66666666666666,
 2155: 91.66666666666666,
 1964: 91.66666666666666,
 2436: 91.55172413793103,
 5654: 91.54929577464787,
 9300: 91.5159574468085,
 3845: 91.51515151515153,
 7254: 91.51450053705693,
 8769: 91.48741418764303,
 2124: 91.42857142857143,
 5839: 91.399416909621,
 2257: 91.3888888888889,
 7183: 91.37254901960785,
 5272: 91.36363636363637,
 775: 91.30434782608695,
 10857: 91.30102040816325,
 6177: 91.29251700680273,
 5840: 91.26086956521739,
 2132: 91.25,
 2641: 91.25,
 6545: 91.11111111111111,
 761: 91.11111111111111,
 11288: 91.10512129380054,
 2705: 91.02564102564102,
 1520: 91.0,
 2427: 90.99999999999999,
 5075: 90.953842219665,
 9026: 90.87108013937282,
 1524: 90.83333333333333,
 683: 90.76923076923077,
 9645: 90.75,
 10181: 90.74074074074075,
 3863: 90.73809523809524,
 880: 90.625,
 4083: 90.59006211180125,
 2646: 90.58823529411765,
 9880: 90.56818181818181,
 6155: 90.54794520547945,
 4010: 90.52429052429054,
 10489: 90.50655976676384,
 1562: 90.38461538461539,
 3703: 90.3409090909091,
 4224: 90.19679300291544,
 6254: 90.18292682926828,
 4624: 90.17857142857143,
 8792: 90.14141414141413,
 2194: 90.0,
 4412: 90.0,
 3821: 90.0,
 11554: 90.0,
 2851: 90.0,
 1268: 90.0,
 1266: 90.0,
 2115: 90.0,
 1967: 90.0,
 1285: 90.0,
 5607: 89.90123456790124,
 2706: 89.75308641975307,
 9049: 89.6969696969697,
 895: 89.64285714285714,
 11762: 89.62962962962962,
 6820: 89.58333333333334,
 7885: 89.49999999999999,
 7439: 89.45580110497238,
 7134: 89.45112781954887,
 3682: 89.41791044776119,
 5914: 89.3529411764706,
 2441: 89.34782608695653,
 1075: 89.34782608695652,
 2396: 89.34782608695652,
 3151: 89.25925925925925,
 11764: 89.21052631578948,
 11765: 89.14956011730206,
 2593: 89.14728682170544,
 3353: 89.0909090909091,
 7793: 89.02459016393442,
 8677: 89.0,
 6809: 88.9855072463768,
 2913: 88.95348837209302,
 1494: 88.94736842105263,
 1167: 88.91891891891892,
 4938: 88.89393939393939,
 3202: 88.88888888888889,
 5330: 88.88888888888889,
 1279: 88.88888888888889,
 5326: 88.88888888888889,
 11391: 88.80037488284911,
 896: 88.7878787878788,
 877: 88.78048780487806,
 7006: 88.77251184834124,
 769: 88.75,
 2131: 88.75,
 9781: 88.72683801554095,
 8361: 88.67079889807162,
 7570: 88.63483146067416,
 5528: 88.6253842775582,
 7609: 88.57638888888889,
 903: 88.57142857142858,
 3037: 88.57142857142857,
 11900: 88.57142857142857,
 8434: 88.5662177328844,
 3889: 88.5609756097561,
 1069: 88.54651162790698,
 4187: 88.5,
 2162: 88.42105263157896,
 5655: 88.40909090909092,
 1627: 88.39285714285714,
 3698: 88.35046728971963,
 1275: 88.33333333333334,
 8076: 88.33333333333334,
 6587: 88.33333333333333,
 3854: 88.33333333333333,
 6688: 88.275,
 11740: 88.26086956521738,
 3847: 88.25,
 3405: 88.23529411764706,
 3504: 88.2050505050505,
 884: 88.14814814814815,
 4706: 88.14432989690721,
 11011: 88.13775510204081,
 4964: 88.0952380952381,
 764: 88.09278350515464,
 4012: 88.01546391752578,
 2154: 88.00000000000001,
 3119: 88.00000000000001,
 3073: 88.00000000000001,
 1172: 88.0,
 9388: 87.9,
 11078: 87.89473684210526,
 1594: 87.87878787878788,
 10730: 87.875,
 3864: 87.85714285714286,
 5617: 87.8048780487805,
 10180: 87.78571428571429,
 9170: 87.74551066217732,
 1058: 87.72727272727273,
 12715: 87.71929824561403,
 4189: 87.71270718232044,
 3870: 87.625,
 10923: 87.6111111111111,
 2142: 87.6,
 772: 87.59398496240601,
 5647: 87.52,
 1082: 87.5,
 1858: 87.5,
 1815: 87.5,
 7870: 87.5,
 7871: 87.5,
 8314: 87.5,
 6016: 87.48079877112136,
 753: 87.44444444444443,
 9320: 87.42857142857143,
 4188: 87.41134751773049,
 11032: 87.4074074074074,
 4173: 87.3913043478261,
 3844: 87.38888888888889,
 10697: 87.3619920131548,
 4436: 87.34183673469387,
 8465: 87.32142857142857,
 11769: 87.3078612209047,
 10154: 87.27551020408163,
 5433: 87.26190476190476,
 1104: 87.2340425531915,
 9804: 87.20915032679738,
 7658: 87.17948717948718,
 1076: 87.14285714285714,
 4220: 87.14285714285714,
 1260: 87.14285714285714,
 6814: 87.12790697674419,
 8344: 87.0618556701031,
 10226: 87.0580808080808,
 3383: 87.03703703703704,
 1057: 87.03703703703704,
 1853: 87.02380952380952,
 1680: 86.875,
 1749: 86.875,
 1727: 86.8421052631579,
 6471: 86.8421052631579,
 10132: 86.8211009174312,
 1282: 86.81818181818181,
 5292: 86.8,
 11205: 86.78571428571429,
 7794: 86.77777777777777,
 11031: 86.73913043478261,
 3038: 86.7051282051282,
 4811: 86.66666666666667,
 7660: 86.66666666666666,
 1744: 86.66666666666666,
 2039: 86.66666666666666,
 10666: 86.66666666666666,
 1647: 86.66666666666666,
 6816: 86.65223665223665,
 11396: 86.65,
 11356: 86.6,
 10199: 86.58810325476993,
 2776: 86.58536585365853,
 7635: 86.5,
 10211: 86.48780487804878,
 7092: 86.46808510638297,
 8254: 86.4472058716663,
 6818: 86.42756680731364,
 1922: 86.4,
 11264: 86.34622082897945,
 3811: 86.34482758620689,
 686: 86.26190476190476,
 6148: 86.23447537473234,
 2631: 86.20289855072464,
 1077: 86.19047619047619,
 5483: 86.18197278911565,
 12064: 86.17283950617283,
 3850: 86.17021276595744,
 4185: 86.16467707376798,
 2838: 86.15384615384615,
 8237: 86.125,
 11766: 86.11538461538461,
 1876: 86.11111111111111,
 7345: 86.11111111111111,
 5864: 86.11111111111111,
 8433: 86.09381486093814,
 797: 86.08695652173913,
 1992: 86.08695652173913,
 11028: 86.08333333333333,
 4170: 86.07142857142858,
 7698: 86.05263157894737,
 2856: 86.0,
 4271: 86.0,
 7795: 85.97058823529412,
 3518: 85.96491228070175,
 10192: 85.88293980711673,
 2812: 85.83333333333334,
 5521: 85.83175205566098,
 10160: 85.74314574314575,
 3958: 85.72289156626505,
 1719: 85.71428571428571,
 1521: 85.71428571428571,
 8790: 85.7015306122449,
 10203: 85.69638381668456,
 3388: 85.6875,
 9072: 85.65217391304348,
 5788: 85.63909774436091,
 2811: 85.625,
 8964: 85.60606060606061,
 9843: 85.55172413793103,
 3637: 85.54292929292929,
 8428: 85.52789802789803,
 760: 85.52631578947368,
 8265: 85.50614054211178,
 9797: 85.46176046176046,
 7571: 85.44891640866872,
 4840: 85.42857142857143,
 9852: 85.41666666666666,
 2613: 85.38461538461539,
 2182: 85.38461538461539,
 1852: 85.38011695906434,
 4635: 85.37651277454056,
 4703: 85.37234042553192,
 4121: 85.32910388580493,
 11524: 85.27845036319613,
 10380: 85.24791359842907,
 2096: 85.18518518518519,
 3825: 85.10169491525424,
 9014: 85.1,
 9261: 85.08333333333333,
 11780: 85.0,
 852: 85.0,
 904: 85.0,
 1816: 85.0,
 1764: 85.0,
 12499: 84.92063492063492,
 2376: 84.88188976377951,
 2365: 84.87179487179488,
 5473: 84.87133984028394,
 2290: 84.82758620689654,
 9183: 84.81826241134752,
 6203: 84.8146551724138,
 5919: 84.79816513761467,
 1857: 84.78260869565217,
 682: 84.78260869565217,
 755: 84.77272727272727,
 11027: 84.73076923076923,
 1915: 84.70588235294117,
 11907: 84.6875,
 2714: 84.64285714285712,
 4611: 84.6201923076923,
 815: 84.61538461538461,
 6477: 84.58333333333333,
 9194: 84.55522971652003,
 9354: 84.51923076923077,
 6815: 84.5047619047619,
 2183: 84.5,
 5943: 84.41237113402062,
 3713: 84.39999999999999,
 7801: 84.31147540983606,
 5922: 84.30128205128206,
 1687: 84.28571428571429,
 3812: 84.26318981200728,
 8791: 84.18367346938776,
 9667: 84.1646320195326,
 4355: 84.13789053323939,
 5660: 84.0650406504065,
 1944: 84.00000000000001,
 2161: 84.00000000000001,
 4235: 83.9375,
 7836: 83.9090909090909,
 7925: 83.8961038961039,
 1850: 83.88888888888889,
 2815: 83.88888888888889,
 12776: 83.85416666666666,
 754: 83.85185185185185,
 9803: 83.8314606741573,
 12569: 83.82352941176471,
 10540: 83.75692407950473,
 2614: 83.75,
 3765: 83.71428571428571,
 3153: 83.71428571428571,
 1760: 83.70927318295739,
 7724: 83.66216216216216,
 6790: 83.6489898989899,
 1109: 83.57142857142857,
 849: 83.44262295081967,
 6147: 83.42013888888889,
 2003: 83.4090909090909,
 4627: 83.39256198347107,
 4225: 83.3529411764706,
 11937: 83.34269662921349,
 9768: 83.34,
 4442: 83.33333333333333,
 2630: 83.33333333333333,
 692: 83.28358208955224,
 7159: 83.25358851674642,
 11171: 83.22448979591837,
 8751: 83.18181818181819,
 1305: 83.18181818181819,
 2212: 83.18181818181817,
 3826: 83.15789473684211,
 10219: 83.15625,
 2715: 83.15384615384616,
 4902: 83.12593330014934,
 8715: 83.07613168724279,
 4942: 83.06122448979592,
 11763: 83.02777777777777,
 1164: 83.0,
 3890: 83.0,
 9855: 82.92857142857143,
 11421: 82.84610215053763,
 12449: 82.77777777777777,
 8928: 82.76315789473684,
 10423: 82.73684210526316,
 11703: 82.66666666666667,
 1165: 82.66666666666667,
 863: 82.66666666666667,
 757: 82.55813953488372,
 10425: 82.51886792452831,
 3941: 82.5,
 1254: 82.5,
 1891: 82.5,
 3356: 82.5,
 7832: 82.4742268041237,
 6600: 82.45614035087718,
 10424: 82.39954725523486,
 4176: 82.34375,
 2813: 82.3076923076923,
 1559: 82.27272727272727,
 1067: 82.25,
 10099: 82.23809523809524,
 6229: 82.23456790123457,
 3959: 82.22222222222223,
 2289: 82.22222222222221,
 9160: 82.1952861952862,
 879: 82.18181818181819,
 11058: 82.14285714285714,
 6810: 82.07070707070707,
 11164: 82.02572347266882,
 3069: 82.01550387596899,
 2676: 81.94827586206897,
 7110: 81.9047619047619,
 5412: 81.86598639455782,
 8971: 81.81818181818183,
 901: 81.81818181818181,
 6813: 81.75531914893617,
 2086: 81.74603174603175,
 5506: 81.73529411764706,
 10247: 81.73400673400674,
 7186: 81.6470588235294,
 8394: 81.61764705882352,
 11957: 81.5725806451613,
 12337: 81.49921507064364,
 1170: 81.36363636363636,
 1307: 81.33333333333333,
 1234: 81.25,
 2214: 81.25,
 2113: 81.25,
 5126: 81.25,
 9251: 81.25,
 1073: 81.14035087719299,
 11060: 81.10133594004563,
 7569: 81.0985401459854,
 2438: 81.08974358974358,
 2422: 81.05263157894737,
 6200: 81.03921568627452,
 2143: 81.0,
 4433: 80.98684210526316,
 2366: 80.92105263157895,
 11761: 80.91666666666667,
 1283: 80.90909090909092,
 10246: 80.86666666666666,
 5076: 80.80190930787589,
 10334: 80.77803203661327,
 8742: 80.76829268292683,
 4749: 80.74074074074075,
 599: 80.6896551724138,
 10565: 80.67441860465117,
 6123: 80.625,
 3471: 80.57692307692308,
 6551: 80.55555555555556,
 6607: 80.52631578947368,
 804: 80.45454545454544,
 3881: 80.41666666666666,
 1299: 80.38461538461539,
 4752: 80.20833333333334,
 2452: 80.17446471054718,
 6093: 80.11627906976744,
 3459: 80.01893939393939,
 1655: 80.0,
 8619: 80.0,
 1135: 80.0,
 2420: 80.0,
 2736: 80.0,
 1890: 80.0,
 8079: 80.0,
 4839: 79.93265993265994,
 5437: 79.85600490196077,
 10095: 79.8,
 1851: 79.65517241379311,
 2091: 79.62962962962963,
 11375: 79.57352941176471,
 5411: 79.5054945054945,
 5625: 79.42432432432433,
 6703: 79.38095238095238,
 1066: 79.375,
 1918: 79.33333333333333,
 12467: 79.28571428571429,
 9481: 79.28571428571429,
 10794: 79.1859225026662,
 1046: 79.16666666666667,
 1490: 79.16666666666667,
 1682: 79.16666666666666,
 2426: 79.04761904761905,
 6593: 79.0,
 1554: 78.94736842105263,
 6441: 78.94736842105263,
 1496: 78.94736842105263,
 773: 78.8888888888889,
 2040: 78.8888888888889,
 10805: 78.85416666666667,
 10598: 78.84615384615384,
 11751: 78.83928571428571,
 11451: 78.83333333333333,
 11767: 78.75304771856496,
 10015: 78.75,
 6259: 78.73015873015873,
 5945: 78.72539831302717,
 5614: 78.68156424581005,
 2628: 78.63636363636364,
 12210: 78.47169811320755,
 8310: 78.42025699168556,
 12778: 78.24561403508771,
 9007: 78.21428571428571,
 853: 78.18181818181819,
 7084: 78.1640625,
 8646: 78.125,
 6202: 78.11538461538461,
 9092: 78.07692307692308,
 8745: 78.05325987144168,
 11376: 78.04982817869416,
 10487: 78.0185758513932,
 5328: 78.0,
 1295: 78.0,
 5736: 77.88461538461539,
 10406: 77.85,
 11076: 77.79032258064517,
 1943: 77.77777777777779,
 1691: 77.77777777777779,
 12003: 77.77777777777779,
 2186: 77.77777777777779,
 2116: 77.77777777777779,
 1062: 77.6470588235294,
 8997: 77.5941230486685,
 7588: 77.57575757575758,
 3355: 77.5,
 9536: 77.5,
 3408: 77.5,
 1936: 77.5,
 8352: 77.5,
 5859: 77.4090909090909,
 8525: 77.34347826086957,
 7872: 77.30978260869566,
 2126: 77.27272727272727,
 5471: 77.21621621621621,
 7633: 77.06,
 6173: 76.92307692307693,
 5472: 76.88541666666667,
 1688: 76.84210526315789,
 9427: 76.84210526315789,
 1071: 76.78018575851394,
 5544: 76.75816993464052,
 7914: 76.75675675675676,
 10227: 76.75219023779724,
 11378: 76.7251461988304,
 1916: 76.66666666666667,
 7642: 76.66666666666667,
 1917: 76.66666666666667,
 6179: 76.5730536793459,
 5918: 76.5,
 4933: 76.48427672955975,
 5436: 76.4700940860215,
 2377: 76.375,
 1497: 76.25,
 5077: 76.1904761904762,
 8653: 76.11111111111111,
 5401: 76.09292035398231,
 4222: 76.05555555555556,
 2703: 76.04545454545455,
 1261: 76.0,
 1632: 76.0,
 7634: 75.87931034482759,
 6306: 75.81395348837209,
 8002: 75.79787234042553,
 2145: 75.76923076923077,
 5275: 75.74128380579992,
 1907: 75.6578947368421,
 4011: 75.625,
 4261: 75.55555555555556,
 4119: 75.46583850931677,
 4748: 75.44981060606061,
 6026: 75.34391534391534,
 1522: 75.33333333333333,
 6819: 75.22551546391753,
 2367: 75.21367521367522,
 9796: 75.2,
 11517: 75.18690644574662,
 5753: 75.15151515151516,
 4914: 75.09191176470588,
 11824: 75.0609756097561,
 1105: 75.0,
 9477: 75.0,
 3389: 75.0,

In [85]:
用户学习时长情况与预测 = json.load(open("./out/用户学习时长情况与预测.json", "r"))

In [87]:
用户学习时长情况与预测.keys()

dict_keys(['userId_list', 'user_learning_type', 'user_learning_record', 'user_learning_predict'])

In [71]:
json_data = {}

In [72]:
json_data['courseId_list'] = list(course_pass_rate.drop(10844).sort_values(ascending=False).to_dict().keys())

In [ ]:
json_data['userId_list'] = list(user_data['userId'].unique().astype(np.int32))

In [73]:
json_data['course_pass_rate'] = course_pass_rate.drop(10844).sort_values(ascending=False).to_dict()

In [74]:
json.dump(json_data, open("./out/课程通过情况.json", "w"))