In [1]:
import itertools
import json
import math
import os
import random
import re
import sys
from collections import Counter
from datetime import datetime

import matplotlib.pyplot as plt
import networkx as nx
import numpy as np
import pandas as pd
import utils
from tqdm import tqdm

plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

8. 试卷信息表-testpaper

---

In [2]:
testpaper = pd.read_csv('./data/testpaper.csv')

In [3]:
testpaper = testpaper[(testpaper['type'] == 'testpaper') & (testpaper['status'] != 'draft') ]

9. 试卷结果表-testpaper_result

---

In [4]:
testpaper_result = pd.read_csv('./data/testpaper_result.csv')

C:\Users\Tanphoon\AppData\Local\Temp\ipykernel_20872\4110415055.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  testpaper_result = pd.read_csv('./data/testpaper_result.csv')

In [5]:
testpaper_result = testpaper_result[testpaper_result['type'] == 'testpaper']
testpaper_result = testpaper_result[['userId', 'paperName', 'courseId', 'score']]

融合表8和表9

In [6]:
# 求交集
cap = set(testpaper_result['courseId'].unique()) & set(testpaper['courseId'].unique())
# 表8数据
total_score0 =  testpaper[testpaper['courseId'].isin(cap)][["courseId", "name", "score"]].set_index(["courseId", "name"]) 
# 表9数据
total_score1 = testpaper_result.groupby(['courseId','paperName' ])['score'].max()
# 合并
for idx, score in total_score0.itertuples():
    if idx in total_score1:
        total_score1[idx] = score

In [7]:
testpaper_result

        userId            paperName  courseId  score
4            3                  试卷2         2    2.0
5            3                  试卷2         2    0.0
1438     15422    Python数据分析方向 - 试题       425   10.0
1439     15422           Python数据分析       406   16.0
1440     15422           Python数据分析       406   28.0
...        ...                  ...       ...    ...
349031   93923  计算机程序设计员-四级理论考试模拟卷②     11628   63.0
349032  169949  计算机程序设计员-四级理论考试模拟卷①     11628   87.0
349033  174507        泰迪智能双创工作室知识考核     12778    0.0
349034  169255  计算机程序设计员-四级理论考试模拟卷⑤     11628   83.0
349035   93956  计算机程序设计员-四级理论考试模拟卷④     11628   72.0

[203754 rows x 4 columns]

In [18]:
user_data = testpaper_result.groupby(['userId', 'courseId', 'paperName']).max()
user_data

                                        score
userId courseId paperName
3      2        试卷2                       2.0
       14       《Hadoop大数据基础与应用》期中考试试卷    0.0
       96       课程题目模板V1.2（上传）            0.0
       263      提交项目成果                    0.0
       338      《Hadoop大数据基础与应用》期中考试试卷    0.0
...                                       ...
174581 11109    人工智能（高级）正式卷               0.0
174582 11109    人工智能（高级）正式卷               0.0
174583 11109    人工智能（高级）正式卷               0.0
174584 11109    人工智能（高级）正式卷               0.0
174585 11109    人工智能（高级）正式卷               0.0

[145789 rows x 1 columns]

In [19]:
def get_max_score(row):
    idx = (row.name[1], row.name[2])
    return total_score1[idx] if total_score1[idx] != 0 else 1
user_data['rating'] = user_data.apply(lambda x:int(x['score'] / get_max_score(x) * 10), axis=1)

In [20]:
user_data['total_score'] =  user_data.apply(lambda x:int(get_max_score(x)), axis=1)

In [39]:
user_data[user_data['courseId'] == 10844]

       userId  courseId  score  rating  total_score
43852  160030     10844   90.5      10           90

In [31]:
total_score = user_data.groupby('courseId')['total_score'].mean()

In [32]:
total_score

courseId
2         2.000000
14       14.000000
96        1.000000
263       1.000000
284      18.000000
           ...
12774    72.666667
12775    55.333333
12776    32.000000
12777     1.000000
12778    95.000000
Name: total_score, Length: 1415, dtype: float64

In [21]:
user_data = user_data.groupby(["userId", "courseId"]).max().reset_index()

In [14]:
course_score = user_data.groupby('courseId').apply(lambda x: x.set_index('userId')['score'].to_dict()).to_dict()

In [68]:
course_pass_rate =  user_data.groupby('courseId')['score'].mean() / total_score * 100

In [69]:
course_pass_rate.drop(10844).sort_values(ascending=False).to_dict()

{2: 100.0,
 1899: 100.0,
 1596: 100.0,
 1625: 100.0,
 1696: 100.0,
 1725: 100.0,
 1750: 100.0,
 1819: 100.0,
 1822: 100.0,
 1914: 100.0,
 10609: 100.0,
 1933: 100.0,
 1968: 100.0,
 2072: 100.0,
 2073: 100.0,
 2090: 100.0,
 2094: 100.0,
 2095: 100.0,
 1553: 100.0,
 1495: 100.0,
 2101: 100.0,
 10971: 100.0,
 11305: 100.0,
 11137: 100.0,
 1068: 100.0,
 1081: 100.0,
 1084: 100.0,
 1224: 100.0,
 1238: 100.0,
 1257: 100.0,
 10611: 100.0,
 1262: 100.0,
 1265: 100.0,
 1267: 100.0,
 1291: 100.0,
 1296: 100.0,
 1297: 100.0,
 1491: 100.0,
 2100: 100.0,
 2108: 100.0,
 11525: 100.0,
 4866: 100.0,
 3724: 100.0,
 3784: 100.0,
 7117: 100.0,
 4808: 100.0,
 4830: 100.0,
 4851: 100.0,
 4863: 100.0,
 6491: 100.0,
 8077: 100.0,
 6159: 100.0,
 5322: 100.0,
 5809: 100.0,
 5724: 100.0,
 5718: 100.0,
 5711: 100.0,
 5640: 100.0,
 3453: 100.0,
 8087: 100.0,
 2110: 100.0,
 2181: 100.0,
 2111: 100.0,
 2112: 100.0,
 2113: 100.0,
 2114: 100.0,
 2118: 100.0,
 2133: 100.0,
 2173: 100.0,
 2187: 100.0,
 8088: 100.0,
 2209: 100.0,
 2524: 100.0,
 8876: 100.0,
 2853: 100.0,
 2887: 100.0,
 3215: 100.0,
 3218: 100.0,
 11334: 100.0,
 9015: 100.0,
 447: 100.0,
 12030: 100.0,
 284: 100.0,
 12097: 100.0,
 12370: 100.0,
 7904: 99.8901098901099,
 2200: 99.8,
 8086: 99.71014492753622,
 2199: 99.53020134228187,
 8120: 99.35064935064935,
 2198: 99.13333333333334,
 794: 99.06976744186046,
 2937: 99.04109589041094,
 875: 99.02439024390245,
 2832: 98.98550724637681,
 3063: 98.953125,
 2635: 98.95031490552833,
 12288: 98.85714285714286,
 2634: 98.81578947368422,
 3236: 98.8,
 763: 98.7878787878788,
 806: 98.77049180327869,
 3200: 98.75,
 3034: 98.5909090909091,
 3009: 98.57239057239057,
 2549: 98.57142857142858,
 8412: 98.5,
 3598: 98.46153846153847,
 1256: 98.41269841269842,
 5642: 98.37837837837839,
 3115: 98.33333333333334,
 3109: 98.33333333333334,
 6042: 98.31460674157304,
 4957: 98.26086956521738,
 3141: 98.24489795918367,
 756: 98.2,
 4267: 98.18181818181819,
 5273: 98.18181818181819,
 4825: 98.10000000000001,
 2942: 98.0952380952381,
 3118: 98.07692307692308,
 800: 98.01587301587303,
 850: 98.00000000000001,
 2742: 97.96875,
 857: 97.96610169491527,
 3138: 97.94594594594595,
 3286: 97.8,
 3036: 97.76923076923077,
 2160: 97.68115942028986,
 2671: 97.66373037150518,
 1233: 97.64705882352942,
 7067: 97.6470588235294,
 2636: 97.61904761904762,
 796: 97.6086956521739,
 2576: 97.52808988764045,
 3035: 97.52808988764045,
 1908: 97.5,
 4952: 97.3913043478261,
 3060: 97.38297872340425,
 3753: 97.36842105263158,
 2062: 97.25806451612904,
 2276: 97.24999999999999,
 830: 97.18004338394796,
 2755: 97.10526315789474,
 2864: 97.05882352941177,
 4842: 97.04545454545455,
 5641: 97.02702702702703,
 8119: 97.01298701298701,
 2741: 96.96969696969697,
 2530: 96.8831168831169,
 6467: 96.875,
 3078: 96.875,
 4883: 96.85393258426967,
 3108: 96.84210526315789,
 7903: 96.8131868131868,
 3560: 96.77777777777777,
 4845: 96.77777777777777,
 5288: 96.69014084507042,
 406: 96.66666666666667,
 2672: 96.66666666666667,
 751: 96.66666666666667,
 3578: 96.66666666666667,
 2852: 96.66666666666666,
 1273: 96.66666666666666,
 2642: 96.66666666666666,
 2854: 96.66666666666666,
 2996: 96.6,
 1290: 96.55172413793105,
 1264: 96.55172413793105,
 8990: 96.43939393939394,
 11814: 96.41666666666667,
 3810: 96.3917525773196,
 2529: 96.3157894736842,
 858: 96.30573248407643,
 2074: 96.29629629629629,
 2092: 96.29629629629629,
 2065: 96.26865671641791,
 6123: 96.26865671641791,
 1635: 96.25,
 2738: 96.21212121212122,
 9572: 96.20967741935485,
 2595: 96.19047619047619,
 2138: 96.15384615384615,
 11880: 96.09375,
 5290: 96.09022556390977,
 6199: 96.08938547486035,
 1072: 96.07843137254902,
 3683: 96.07843137254902,
 5443: 96.0,
 2858: 96.0,
 1173: 96.0,
 2754: 95.92105263157895,
 3606: 95.91549295774648,
 3244: 95.90909090909092,
 2213: 95.88235294117646,
 10486: 95.84937954642704,
 2833: 95.84210526315789,
 2924: 95.8157894736842,
 8121: 95.8108108108108,
 3137: 95.76271186440678,
 3846: 95.75757575757576,
 2586: 95.71428571428571,
 6443: 95.71428571428571,
 6771: 95.68,
 1047: 95.65217391304348,
 1945: 95.65217391304347,
 5971: 95.58823529411765,
 3214: 95.58608593978369,
 445: 95.56962025316456,
 1759: 95.55555555555556,
 2632: 95.55555555555554,
 2171: 95.55555555555554,
 4207: 95.54054054054055,
 3823: 95.51246537396123,
 2594: 95.45168727730035,
 3199: 95.41666666666666,
 902: 95.34883720930232,
 2575: 95.28089887640449,
 4437: 95.26515151515152,
 6860: 95.23809523809524,
 759: 95.20547945205479,
 4950: 95.19999999999999,
 3585: 95.15463917525773,
 8994: 95.03367003367002,
 1765: 95.0,
 5116: 95.0,
 1871: 95.0,
 2713: 94.91803278688525,
 9773: 94.83333333333333,
 5289: 94.81751824817518,
 9880: 94.76813317479191,
 3002: 94.76190476190476,
 12171: 94.73684210526315,
 1274: 94.73684210526315,
 3748: 94.6395061728395,
 7187: 94.62915601023018,
 10874: 94.62091351727335,
 9196: 94.62087912087912,
 8743: 94.61709211986681,
 9019: 94.5821854912764,
 860: 94.54545454545456,
 3245: 94.5,
 801: 94.47368421052632,
 1683: 94.44444444444444,
 12338: 94.44444444444444,
 3909: 94.44444444444444,
 2070: 94.44444444444444,
 1236: 94.44444444444444,
 2165: 94.44444444444444,
 2647: 94.41176470588235,
 2915: 94.34626370588778,
 3891: 94.32467532467533,
 2764: 94.3103448275862,
 1993: 94.28571428571429,
 1284: 94.28571428571428,
 7907: 94.28571428571428,
 3601: 94.26666666666665,
 2940: 94.22222222222223,
 10845: 94.20289855072464,
 829: 94.18604651162792,
 11379: 94.18604651162791,
 7330: 94.16666666666667,
 3062: 94.13412563667232,
 2208: 94.11764705882352,
 7832: 94.11764705882352,
 679: 94.09090909090908,
 4138: 94.0515759312321,
 2207: 93.93939393939394,
 7839: 93.8880706921944,
 1646: 93.84615384615384,
 810: 93.82352941176471,
 856: 93.810888252149,
 10061: 93.79069767441861,
 2063: 93.78787878787878,
 2625: 93.76896551724138,
 7787: 93.75,
 1645: 93.75,
 1805: 93.75,
 5482: 93.73840445269016,
 446: 93.67469879518072,
 3059: 93.62,
 803: 93.6046511627907,
 2763: 93.5820895522388,
 3112: 93.51351351351352,
 8866: 93.49652027837774,
 8078: 93.47763347763347,
 2765: 93.46153846153847,
 2593: 93.44528710725893,
 10666: 93.44262295081967,
 9870: 93.4040047114252,
 8050: 93.39285714285714,
 4084: 93.35695973458,
 2038: 93.33333333333333,
 2587: 93.33333333333333,
 1227: 93.33333333333333,
 1255: 93.33333333333333,
 2166: 93.33333333333333,
 11947: 93.28125,
 9013: 93.21266968325791,
 5616: 93.19148936170214,
 4241: 93.18840579710145,
 5621: 93.18181818181819,
 3247: 93.15789473684211,
 2172: 93.0,
 1303: 92.98245614035088,
 10678: 92.97417384059983,
 5126: 92.85714285714286,
 2102: 92.85714285714286,
 2057: 92.85714285714286,
 2769: 92.82608695652173,
 3603: 92.82608695652173,
 11078: 92.72626318711828,
 2916: 92.70833333333334,
 1498: 92.6923076923077,
 9748: 92.64264264264264,
 774: 92.63888888888889,
 6861: 92.61363636363636,
 1278: 92.5,
 4174: 92.49140401146133,
 7186: 92.41011984021303,
 6254: 92.37976264834478,
 9768: 92.35372340425533,
 9312: 92.33333333333333,
 4281: 92.32,
 3867: 92.29545454545455,
 11058: 92.29299363057324,
 11030: 92.25,
 1898: 92.22222222222221,
 7836: 92.20779220779221,
 876: 92.1951219512195,
 4010: 92.16454456415279,
 2312: 92.15686274509804,
 3866: 92.12361712361712,
 802: 92.09677419354838,
 3383: 92.09666884389287,
 2274: 92.08333333333334,
 3432: 92.06349206349206,
 2077: 92.0,
 2863: 92.0,
 3001: 92.0,
 1059: 92.0,
 7439: 91.97103095711446,
 752: 91.89873417721518,
 3072: 91.875,
 8742: 91.85852981969487,
 11077: 91.85705916813122,
 5656: 91.83333333333333,
 1272: 91.81818181818183,
 2707: 91.7910447761194,
 1269: 91.73913043478261,
 3073: 91.66666666666667,
 770: 91.66666666666666,
 777: 91.66666666666666,
 2155: 91.66666666666666,
 1964: 91.66666666666666,
 8769: 91.57123224919836,
 2436: 91.55172413793103,
 5654: 91.54929577464787,
 11076: 91.51802656546491,
 9300: 91.5159574468085,
 3845: 91.51515151515153,
 7254: 91.51450053705693,
 11164: 91.49107863355152,
 2124: 91.42857142857143,
 5839: 91.399416909621,
 2257: 91.3888888888889,
 5075: 91.38617677286743,
 7183: 91.37254901960785,
 5272: 91.36363636363637,
 775: 91.30434782608695,
 10857: 91.30102040816325,
 6177: 91.29251700680273,
 5840: 91.26086956521739,
 5433: 91.25996015936254,
 2132: 91.25,
 2641: 91.25,
 4083: 91.23608157137497,
 761: 91.11111111111111,
 6545: 91.11111111111111,
 11288: 91.10512129380054,
 5859: 91.06951871657753,
 2705: 91.02564102564102,
 1520: 91.0,
 2427: 90.99999999999999,
 3151: 90.94339622641509,
 9026: 90.87108013937282,
 3682: 90.86221278531886,
 1524: 90.83333333333333,
 683: 90.76923076923077,
 9645: 90.75,
 10181: 90.74074074074075,
 3863: 90.73809523809524,
 3844: 90.63670411985018,
 12208: 90.6318082788671,
 880: 90.625,
 2646: 90.58823529411765,
 6155: 90.54794520547945,
 10489: 90.50655976676384,
 8735: 90.49857549857549,
 7006: 90.47044049459042,
 1562: 90.38461538461539,
 3703: 90.3409090909091,
 2591: 90.32258064516128,
 4224: 90.19679300291544,
 4624: 90.17857142857143,
 11740: 90.17212659633536,
 8792: 90.14141414141413,
 7134: 90.12196045754109,
 11554: 90.0,
 2194: 90.0,
 1266: 90.0,
 2115: 90.0,
 1268: 90.0,
 4412: 90.0,
 2851: 90.0,
 1967: 90.0,
 3821: 90.0,
 1285: 90.0,
 6688: 89.98470948012233,
 5607: 89.90123456790124,
 7436: 89.83481575603558,
 2706: 89.75308641975307,
 2116: 89.74358974358975,
 9796: 89.73747016706444,
 9049: 89.6969696969697,
 11060: 89.6936936936937,
 895: 89.64285714285714,
 11762: 89.62962962962962,
 6820: 89.58333333333334,
 3037: 89.56661316211878,
 901: 89.55223880597015,
 9014: 89.53182535507628,
 7569: 89.50696850076532,
 7885: 89.49999999999999,
 5914: 89.3529411764706,
 2441: 89.34782608695653,
 1075: 89.34782608695652,
 2396: 89.34782608695652,
 6809: 89.27564328516037,
 7570: 89.26671947493494,
 2913: 89.23017107309487,
 3889: 89.21375921375922,
 11764: 89.21052631578948,
 3698: 89.17554947646448,
 11765: 89.14956011730206,
 8745: 89.0985324947589,
 3353: 89.0909090909091,
 10730: 89.08399710354816,
 8361: 89.04899135446685,
 1104: 89.03365906623236,
 7793: 89.02459016393442,
 8677: 89.0,
 1494: 88.94736842105263,
 1167: 88.91891891891892,
 7571: 88.8984324672536,
 4938: 88.89393939393939,
 5326: 88.88888888888889,
 1279: 88.88888888888889,
 5330: 88.88888888888889,
 3202: 88.88888888888889,
 3847: 88.8558352402746,
 11391: 88.80037488284911,
 896: 88.7878787878788,
 877: 88.78048780487806,
 6816: 88.77882909520993,
 7795: 88.75056930317291,
 2131: 88.75,
 769: 88.75,
 2631: 88.74962697702178,
 9781: 88.72683801554095,
 10154: 88.65049751243781,
 5528: 88.6253842775582,
 3870: 88.62199747155499,
 7092: 88.61753161796771,
 5506: 88.61607142857143,
 7609: 88.57638888888889,
 903: 88.57142857142858,
 11900: 88.57142857142857,
 8434: 88.5662177328844,
 3504: 88.56288032454358,
 1069: 88.54651162790698,
 4187: 88.5,
 2162: 88.42105263157896,
 5655: 88.40909090909092,
 1627: 88.39285714285714,
 4235: 88.35526315789474,
 1275: 88.33333333333334,
 8076: 88.33333333333334,
 3854: 88.33333333333333,
 6587: 88.33333333333333,
 1165: 88.25622775800713,
 3405: 88.23529411764706,
 884: 88.14814814814815,
 4706: 88.14432989690721,
 11011: 88.13775510204081,
 4964: 88.0952380952381,
 3069: 88.0932556203164,
 764: 88.09278350515464,
 4220: 88.08664259927798,
 11031: 88.0794701986755,
 4436: 88.06976026340158,
 4012: 88.01546391752578,
 2154: 88.00000000000001,
 3119: 88.00000000000001,
 1172: 88.0,
 9388: 87.9,
 1594: 87.87878787878788,
 3864: 87.85714285714286,
 11766: 87.82688284518828,
 9354: 87.81218781218782,
 9797: 87.80578206078576,
 5617: 87.8048780487805,
 10180: 87.78571428571429,
 3038: 87.77417261518494,
 4121: 87.76508972267537,
 9170: 87.74551066217732,
 10203: 87.7382697947214,
 1058: 87.72727272727273,
 12715: 87.71929824561403,
 4189: 87.71270718232044,
 10226: 87.64299981841293,
 10923: 87.6111111111111,
 2142: 87.6,
 772: 87.59398496240601,
 5521: 87.5483870967742,
 5647: 87.52,
 686: 87.51207729468598,
 1815: 87.5,
 1082: 87.5,
 1858: 87.5,
 7871: 87.5,
 8314: 87.5,
 7870: 87.5,
 6016: 87.48079877112136,
 6148: 87.45927985058421,
 10160: 87.44665194996321,
 753: 87.44444444444443,
 9320: 87.42857142857143,
 9804: 87.4262875114664,
 3637: 87.41935483870968,
 4188: 87.41134751773049,
 11032: 87.4074074074074,
 4173: 87.3913043478261,
 11264: 87.381036305957,
 10697: 87.3619920131548,
 7801: 87.36198403261423,
 8465: 87.32142857142857,
 11769: 87.3078612209047,
 10211: 87.23247232472325,
 5483: 87.22030981067125,
 7658: 87.17948717948718,
 1260: 87.14285714285714,
 1076: 87.14285714285714,
 6814: 87.12790697674419,
 10132: 87.12483888786596,
 1922: 87.0967741935484,
 8344: 87.0618556701031,
 1057: 87.03703703703704,
 1853: 87.02380952380952,
 4185: 86.93638048177887,
 10424: 86.92537313432835,
 1680: 86.875,
 1749: 86.875,
 6471: 86.8421052631579,
 1727: 86.8421052631579,
 1282: 86.81818181818181,
 10192: 86.80672268907563,
 5292: 86.8,
 11205: 86.78571428571429,
 7794: 86.77777777777777,
 6790: 86.71465968586386,
 11524: 86.70605612998523,
 4811: 86.66666666666667,
 1647: 86.66666666666666,
 2039: 86.66666666666666,
 1744: 86.66666666666666,
 7660: 86.66666666666666,
 11396: 86.65,
 7634: 86.63385826771653,
 11356: 86.6,
 10199: 86.58810325476993,
 2776: 86.58536585365853,
 8394: 86.58346333853355,
 4741: 86.54822335025382,
 8433: 86.50076463228137,
 7635: 86.5,
 8790: 86.49588053553038,
 11421: 86.44810659186535,
 8254: 86.4472058716663,
 852: 86.44067796610169,
 6818: 86.42756680731364,
 1682: 86.36363636363636,
 3811: 86.34482758620689,
 5720: 86.27450980392157,
 5473: 86.24887285843103,
 6815: 86.22934888241011,
 8265: 86.20146520146521,
 1077: 86.19047619047619,
 12064: 86.17283950617283,
 3850: 86.17021276595744,
 2838: 86.15384615384615,
 8237: 86.125,
 7345: 86.11111111111111,
 5864: 86.11111111111111,
 1876: 86.11111111111111,
 1992: 86.08695652173913,
 797: 86.08695652173913,
 11028: 86.08333333333333,
 4170: 86.07142857142858,
 7698: 86.05263157894737,
 4635: 86.05150214592274,
 4271: 86.0,
 2856: 86.0,
 2091: 86.0,
 3518: 85.96491228070175,
 7724: 85.96223271313525,
 3388: 85.95970573482695,
 9852: 85.9428473648186,
 9843: 85.92703763564997,
 2812: 85.83333333333334,
 3958: 85.72289156626505,
 1521: 85.71428571428571,
 1890: 85.71428571428571,
 1719: 85.71428571428571,
 10540: 85.65478173942019,
 9072: 85.65217391304348,
 5788: 85.63909774436091,
 2811: 85.625,
 8964: 85.60606060606061,
 9194: 85.58707124010553,
 776: 85.55555555555556,
 8428: 85.52789802789803,
 760: 85.52631578947368,
 7159: 85.48034934497817,
 10095: 85.4389721627409,
 4840: 85.42857142857143,
 9183: 85.42410714285715,
 2182: 85.38461538461539,
 2613: 85.38461538461539,
 1852: 85.38011695906434,
 6203: 85.37400208261022,
 4703: 85.37234042553192,
 3825: 85.31860662701786,
 5412: 85.31334184035163,
 10380: 85.24791359842907,
 4611: 85.24312282061216,
 4355: 85.22903033908388,
 2096: 85.18518518518519,
 4749: 85.15625,
 2715: 85.11811023622047,
 5919: 85.09482599889523,
 9261: 85.08333333333333,
 10219: 85.01597444089457,
 1764: 85.0,
 11780: 85.0,
 904: 85.0,
 1816: 85.0,
 10423: 84.97297297297298,
 12499: 84.92063492063492,
 2376: 84.88188976377951,
 2365: 84.87179487179488,
 2290: 84.82758620689654,
 1857: 84.78260869565217,
 682: 84.78260869565217,
 755: 84.77272727272727,
 10247: 84.7429387496033,
 8791: 84.7395451210565,
 11027: 84.73076923076923,
 5943: 84.71805483704087,
 1915: 84.70588235294117,
 11907: 84.6875,
 2714: 84.64285714285712,
 4176: 84.63597430406851,
 3765: 84.62093862815884,
 815: 84.61538461538461,
 2452: 84.60251046025105,
 9667: 84.59246275197195,
 6477: 84.58333333333333,
 2183: 84.5,
 2676: 84.47274881516587,
 8928: 84.45220193340494,
 9803: 84.41955193482688,
 3713: 84.39999999999999,
 11761: 84.3614248479583,
 5922: 84.30128205128206,
 1687: 84.28571428571429,
 2630: 84.26966292134831,
 2592: 84.26470588235296,
 3812: 84.26318981200728,
 9855: 84.06951484431572,
 5660: 84.0650406504065,
 2161: 84.00000000000001,
 1944: 84.00000000000001,
 7925: 83.8961038961039,
 2815: 83.88888888888889,
 1850: 83.88888888888889,
 4902: 83.8774485183325,
 12337: 83.86914378029078,
 12776: 83.85416666666666,
 754: 83.85185185185185,
 11763: 83.8429172510519,
 2886: 83.82749326145552,
 12569: 83.82352941176471,
 2614: 83.75,
 3153: 83.71428571428571,
 1760: 83.70927318295739,
 4627: 83.65528104791909,
 6229: 83.61787597288476,
 11010: 83.60380526021265,
 1109: 83.57142857142857,
 2040: 83.52941176470588,
 5076: 83.5043409629045,
 849: 83.44262295081967,
 6147: 83.42013888888889,
 8751: 83.40929808568825,
 2003: 83.4090909090909,
 8715: 83.3646175504458,
 4225: 83.3529411764706,
 11937: 83.34269662921349,
 1684: 83.33333333333334,
 4442: 83.33333333333333,
 6703: 83.30834582708646,
 692: 83.28358208955224,
 11171: 83.22448979591837,
 1305: 83.18181818181819,
 2212: 83.18181818181817,
 3826: 83.15789473684211,
 4942: 83.06122448979592,
 9160: 83.02271799755135,
 1164: 83.0,
 3890: 83.0,
 6810: 82.9480882211307,
 11957: 82.87587054485867,
 10565: 82.87147634973722,
 9251: 82.8658847526772,
 7437: 82.85393632055865,
 8619: 82.84023668639054,
 7633: 82.82459157351676,
 863: 82.82442748091603,
 12449: 82.77777777777777,
 11703: 82.66666666666667,
 4119: 82.6530612244898,
 757: 82.55813953488372,
 10425: 82.51886792452831,
 3941: 82.5,
 1254: 82.5,
 1891: 82.5,
 3356: 82.5,
 5437: 82.45808288516292,
 6600: 82.45614035087718,
 2813: 82.3076923076923,
 1559: 82.27272727272727,
 1067: 82.25,
 10099: 82.23809523809524,
 3959: 82.22222222222223,
 2289: 82.22222222222221,
 879: 82.18181818181819,
 6813: 82.06086492258409,
 11730: 81.91349934469201,
 7110: 81.9047619047619,
 8971: 81.81818181818183,
 2086: 81.74603174603175,
 5945: 81.72796263864565,
 3459: 81.68986852281516,
 9477: 81.63265306122449,
 4433: 81.58801696712621,
 10246: 81.54621848739495,
 9536: 81.47174770039423,
 1170: 81.36363636363636,
 1307: 81.33333333333333,
 1234: 81.25,
 2214: 81.25,
 1073: 81.14035087719299,
 9012: 81.09151047409041,
 2438: 81.08974358974358,
 10794: 81.05895196506549,
 2422: 81.05263157894737,
 6200: 81.03921568627452,
 2143: 81.0,
 4261: 80.95238095238095,
 2366: 80.92105263157895,
 1283: 80.90909090909092,
 11767: 80.83661065427243,
 7723: 80.80898075552388,
 11009: 80.80614203454894,
 8233: 80.79222720478325,
 10334: 80.77803203661327,
 4839: 80.72084325059504,
 599: 80.6896551724138,
 7185: 80.6366047745358,
 11451: 80.57921635434413,
 3471: 80.57692307692308,
 6551: 80.55555555555556,
 6607: 80.52631578947368,
 804: 80.45454545454544,
 3881: 80.41666666666666,
 5411: 80.41441727532549,
 1299: 80.38461538461539,
 4752: 80.20833333333334,
 6093: 80.11627906976744,
 2736: 80.0,
 1135: 80.0,
 8079: 80.0,
 2420: 80.0,
 1655: 80.0,
 3070: 79.86348122866893,
 5401: 79.85234026745916,
 5472: 79.7945945945946,
 5471: 79.79332495461526,
 8310: 79.72592213114753,
 1851: 79.65517241379311,
 8744: 79.62962962962963,
 11375: 79.57352941176471,
 5625: 79.42432432432433,
 3386: 79.42122186495176,
 1066: 79.375,
 10406: 79.35779816513761,
 1918: 79.33333333333333,
 12467: 79.28571428571429,
 9481: 79.28571428571429,
 1046: 79.16666666666667,
 1490: 79.16666666666667,
 5077: 79.15194346289753,
 2426: 79.04761904761905,
 6593: 79.0,
 1554: 78.94736842105263,
 6441: 78.94736842105263,
 1496: 78.94736842105263,
 773: 78.8888888888889,
 10805: 78.85416666666667,
 10598: 78.84615384615384,
 11751: 78.83928571428571,
 5275: 78.82332994235335,
 10015: 78.75,
 6259: 78.73015873015873,
 5614: 78.68156424581005,
 2628: 78.63636363636364,
 7722: 78.63260936066074,
 7084: 78.63093366865766,
 12210: 78.47169811320755,
 5079: 78.37837837837837,
 9560: 78.34757834757833,
 12778: 78.24561403508771,
 5505: 78.24529991047449,
 9007: 78.21428571428571,
 853: 78.18181818181819,
 8646: 78.125,
 6202: 78.11538461538461,
 5436: 78.1105199931354,
 9092: 78.07692307692308,
 11376: 78.04982817869416,
 10487: 78.0185758513932,
 1295: 78.0,
 5328: 78.0,
 9040: 77.96847635726795,
 5736: 77.88461538461539,
 1943: 77.77777777777779,
 12003: 77.77777777777779,
 2186: 77.77777777777779,
 1691: 77.77777777777779,

In [71]:
json_data = {}

In [72]:
json_data['courseId_list'] = list(course_pass_rate.drop(10844).sort_values(ascending=False).to_dict().keys())

In [73]:
json_data['course_pass_rate'] = course_pass_rate.drop(10844).sort_values(ascending=False).to_dict()

In [74]:
json.dump(json_data, open("./out/课程通过情况.json", "w"))